<?xml version="1.0"?>

<model>
  <name>deliverybot</name>
  <version>2.0</version>
  <sdf version="1.7">deliverybot.sdf</sdf>

  <author>
    <name>InDro Robotics</name>
    <email>liamd@indrorobotics.com</email>
  </author>

  <description>
    Deliverybot Simulation Model
  </description>
</model>
