<launch>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="cam_front" />
        <arg name="serial_no" value="134722070463" />
	    <arg name="align_depth" value="true" />
    </include>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="cam_rear" />
        <arg name="serial_no" value="153222070740" />
	    <arg name="align_depth" value="true" />
    </include>
    <include file="$(find depthimage_to_laserscan)/launch/depth_to_laserscan.launch"/>
    <node name="distance_detection" pkg="delivery_bot" type="distance_detection.py" output="screen"/>
    <node name="object_avoidance" pkg="delivery_bot" type="object_avoidance.py" output="screen" />
</launch> 
